*.md
.agents
.claude
.cursor
.cursorignore
.coverage
coverage
.meteorignore
.DS_Store
.eslintcache
.eslintrc
.github
.meteor
.npm
.versions
docs
node_modules
npm-debug.log*
index.test-d.ts
package.js
tests
tsconfig.json
tests/*
